body {
    background-color: #2c2c2c;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: transparent;
    justify-content: center;
    display: flex;
    z-index: 9999;
    align-items: center;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

li {
    margin: 0;
}

button {
    background-color: rgb(70, 70, 70);
    border: 1px solid black;
    border-radius: 16px;
    padding: 8px;
    color: white;
}

button:hover {

}